body {
  background: rgb(253, 228, 180);
  text-align: center;
}

h1 {
  color:rgb(56, 4, 99);
}

p {
  margin: 30px;
  text-align: justify;
}

.container {
  align-content: space-between;
}

.croissant-image {
    display: block;
    margin: 50px auto;
    max-width: 80%;
    border-radius: 3px;
}